{{#each saved}}

<div class="articles2 jumbotron">
    <a href="{{this.link}}">{{this.title}}</a>
    <p>{{this.summary}}</p>
    <button class="btn btn-primary float-right delete" data-id="{{this._id}}">Delete Article</button>
    <button type="button" class="btn btn-danger float-right note" dataid="{{this._id}}" data-toggle="modal" data-target=".myModal{{this._id}}">Article Notes</button>
    
</div>




<!-- Modal -->
<div class="modal fade myModal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notes For Article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>


            <div class="modal-body">


                <div id="notesDiv">
                    
                    <p>Notes For Article {{this._id}}</p>
                    
                   
                    <p>{{this.note}}</p>
               
                   
             
                 
                
                    {{!-- <div class="notesDiv">
                        <h4>{{this.note}}</h4>
                    </div> --}}
                  
                    <button class="btn btn-danger float-right">&times;</button>

                </div>

                <div id="addNote">
                    <input id="modalInput" type="text">
                </div>

            </div>
            <div class="modal-footer">

                <button type="button" data-id="{{this._id}}" class="btn btn-primary modNote">Add Note</button>
            </div>
        </div>
    </div>
</div>

{{/each}}




<script type="text/javascript">
    $("#scrapeBtn").hide();


    $(".delete").on("click", function () {


        $.get("/delete/" + $(this).data().id, function (data) {
            window.location.href = "/saved";
        })

    })



    //Add Note
    $(".modNote").on("click", function () {


        var Data = $("#modalInput").val();



        $.get("/addnote/" + Data + "," + $(this).data().id, function (data) {

            console.log(data);
        })


        //empty input
        $("#modalInput").val("")


    })

</script>